$font-baloo : "Baloo Thambi 2" , cursive;
$font-raleway : "Raleway" , cursive;
$font-rubik : "Rubik" , cursive;
$color-primary:  rgba(255, 255, 255, .3);
$color-second : #0D2124;
$color-yellow: #FFD289; 
